{% extends 'paid_content_app/base.html' %}
{% block content %}
{% load my_tags %}
<div class="row justify-content-center mb-3">
    <a href="{% url 'main:create_post' %}" class="btn btn-primary col-3">Добавить запись</a>
</div>
{% for post in object_list %}
<div class="row justify-content-center mb-3">
    <div class="card col-6 p-0">
        <div class="card-img-top d-flex">
            <p class="me-auto">{{ post.created_at|date:'d M Y в H:i' }}</p>
            <div class="dropdown">
                <a class="text-decoration-none text-reset" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-three-dots" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                    </svg>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'main:edit_post' post.pk %}">Изменить</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:delete_post' post.pk %}">Удалить</a></li>
                </ul>
            </div>
        </div>
        <a href="{% url 'main:detail_post' post.pk %}" class="text-decoration-none text-reset m-0 p-0">
            {% if post.image %}
            <img src="{{ post.image|media_filter }}" class="w-100">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.name }}</h5>
                <p>Открыть за {{ post.price }}{{ post.get_currency_display }}</p>
                <p class="card-text">{{ post.text }}</p>
            </div>
        </a>
    </div>


</div>
{% endfor %}
{% endblock %}